{#
<li class="dropdown{% if (activemenu is defined) and activemenu == 'users' %} collapse-open open{% endif %}">
	<a href="javascript:;" data-toggle="dropdown">
		<i class="fa fa-user"></i>
		<span>{% trans %}admin_menu_tab_usuarios{% endtrans %}</span>
		<i class="toggle-accordion"></i>
	</a>
	<ul class="dropdown-menu">
		<li class="{% if (activesubmenu is defined) and activesubmenu == 'users' %}active{%endif%}">
			<a href="{{ path('admin_users_index')}}">
				<span>Usuarios</span>
			</a>
		</li>
		{% if is_granted('ROLE_VIEW_PERMISSION_GROUPS') %}
		<li class="{% if (activesubmenu is defined) and activesubmenu == 'usersgrouproles' %}active{%endif%}">
			<a href="{{ path('grouprole')}}">
				<span>{% trans %}admin_menu_grupos_roles{% endtrans %}</span>
			</a>
		</li>
		{% endif %}
	</ul>
</li>

{% if not activemenu is defined %}
    {% set activemenu = '' %}
{% endif %}
{% if not activesubmenu is defined %}
    {% set activesubmenu = '' %}
{% endif %}
#}
<li class="{% if (activemenu is defined) and activemenu == 'news' %}active{%endif%}">
	<a href="{{ path('news_index')}}">
		<i class="fa fa-newspaper-o" aria-hidden="true"></i>
		<span>Noticias</span>
	</a>
</li>
{% if is_granted('ROLE_ADMIN') %}
<li class="{% if (activemenu is defined) and activemenu == 'users' %}active{%endif%}">
	<a href="{{ path('admin_user_index')}}">
		<i class="fa fa-newspaper-o" aria-hidden="true"></i>
		<span>Usuarios</span>
	</a>
</li>
{% endif %}
<li class="{% if (activemenu is defined) and activemenu == 'authorities' %}active{%endif%}">
	<a href="{{ path('sub_authority_index')}}">
		<i class="fa fa-newspaper-o" aria-hidden="true"></i>
		<span>Autoridades</span>
	</a>
</li>
<li class="{% if (activemenu is defined) and activemenu == 'sections' %}active{%endif%}">
	<a href="{{ path('sub_sections_index')}}">
		<i class="fa fa-newspaper-o" aria-hidden="true"></i>
		<span>Seccionales</span>
	</a>
</li>
<li class="{% if (activemenu is defined) and activemenu == 'inscription' %}active{%endif%}">
	<a href="{{ path('sub_inscription_index')}}">
		<i class="fa fa-newspaper-o" aria-hidden="true"></i>
		<span>Inscripciones</span>
	</a>
</li>
<li class="{% if (activemenu is defined) and activemenu == 'sections-inscription' %}active{%endif%}">
	<a href="{{ path('sub_inscription_sections_index')}}">
		<i class="fa fa-newspaper-o" aria-hidden="true"></i>
		<span>Seccionales de inscripción</span>
	</a>
</li>
<li class="{% if (activemenu is defined) and activemenu == 'sections-fees' %}active{%endif%}">
	<a href="{{ path('sub_fee_index')}}">
		<i class="fa fa-newspaper-o" aria-hidden="true"></i>
		<span>Cuotas</span>
	</a>
</li>