{% extends 'base.html.twig' %}

{% block body %}
    <section class="intro_section page_mainslider ds color">
        <div class="flexslider" data-dots="true" data-nav="false">
            <ul class="slides">
                <li> <img src="{{ asset('images/slide01.jpg') }}" alt=""></li>
                <li> <img src="{{ asset('images/slide02.jpg') }}" alt=""></li>
                <li> <img src="{{ asset('images/slide03.jpg') }}" alt=""></li>
            </ul>
        </div>
        <!-- eof flexslider -->
    </section>
    <section id="about" class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section_header">¿Qué es la SUB?</h2>
                    <p>La Sociedad Uruguaya de Biociencias es una asociación civil sin fines de lucro, con personería jurídica, y que tiene su sede en Montevideo, Uruguay.</p>
                </div>
            </div>
            <div class="row columns_margin_bottom_20">
                <div class="col-md-4 col-sm-6">
                    <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                        <div class="teaser_icon size_big highlight"> <i class="fa fa-user"></i> </div>
                        <h4 class="topmargin_20 hover-color2"><a href="autoridades.php">Autoridades</a></h4>
                        <p class="content-3lines-ellipsis">Autoridades electas, período 2017-2019</p>
                        <p class="topmargin_30 bottommargin_0"> <a href="autoridades.php" class="theme_button color2 inverse min_width_button">ver autoridades</a> </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                        <div class="teaser_icon size_big highlight"> <i class="fa fa-cubes"></i> </div>
                        <h4 class="topmargin_20 hover-color2"><a href="seccionales.php">Seccionales</a></h4>
                        <p class="content-3lines-ellipsis">Las seccionales de la SUB están integradas por grupos de socios nucleados en torno a un área particular dentro de las Biociencias, o que se encuentran en determinada región del país. </p>
                        <p class="topmargin_30 bottommargin_0"> <a href="seccionales.php" class="theme_button color2 inverse min_width_button">ver seccionales</a> </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                    <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                        <div class="teaser_icon size_big highlight"> <i class="fa fa-graduation-cap"></i> </div>
                        <h4 class="topmargin_20 hover-color2"><a href="becas.php">Becas</a></h4>
                        <p class="content-3lines-ellipsis">Consetetur sadipscing elitr sediam nonumy eirmod tempor invidunt labore magna.</p>
                        <p class="topmargin_30 bottommargin_0"> <a href="becas.php" class="theme_button color2 inverse min_width_button">ver becas</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="ds color parallax page_gallery section_padding_top_100 section_padding_bottom_100 columns_padding_25">
        <div class="container">
            <div class="row display_table_md">
                <div class="col-md-6 col-md-push-6 display_table_cell_md"> <img src="images/eventos/01.jpg" alt="" class="rounded"> </div>
                <div class="col-md-6 col-md-pull-6 display_table_cell_md">
                    <h2 class="section_header">Jornadas</h2>
                    <p>Entre las actividades que realiza la SUB, se encuentra la organización bianual de jornadas donde participan sociedades científicas especializadas, investigadores, docentes, estudiantes de grado y posgrado, así como personas y sociedades civiles vinculadas con el desarrollo de la ciencia en el país. Al presente más de 500 socios contribuyen activamente en las jornadas, presentando ponencias y posters sobre la actividad científica nacional.</p>
                    <p class="topmargin_30"> <a href="eventos.php" class="theme_button color2 inverse">ver más</a> </p>
                </div>
            </div>
        </div>
    </section>

    <section id="blog" class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section_header text-center">Noticias</h2>
                    <div class="owl-carousel text-nav" data-nav="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1">
                        {%  set position = 1 %}
                        {% if news.first is defined %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel-group" id="posts-accordion1">
                                    {% for object_new in news.1 %}
                                    {{ include('default/_indexNews.html.twig', {'object_new': object_new, 'panel' : 1, 'position' : position}) }}
                                        {%  set position = position + 1 %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                {{ include('default/_indexBigNews.html.twig', {'object_new': news.first}) }}
                            </div>
                        </div>
                        {% endif %}
                        {% if news.second is defined %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel-group" id="posts-accordion2">
                                    {% for object_new in news.2 %}
                                        {{ include('default/_indexNews.html.twig', {'object_new': object_new, 'panel' : 2, 'position' : position}) }}
                                        {%  set position = position + 1 %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                {{ include('default/_indexBigNews.html.twig', {'object_new': news.first}) }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
