{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/maithcommonadmin/js/ckeditor/ckeditor.js') }}"></script>
    {{ include('MaithCommonAdminBundle:Wyswyg:_addJsInitializerTextAreas.html.twig') }}
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/jquery.colorbox-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/maithcommonimage/js/imagesManager.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonimage/css/maithalbums.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/colorbox.css') }}" />
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-color">
                <header class="panel-heading text-uppercase"><i class="fa fa-pencil-square-o"></i>Editar Noticia</header>
                <div class="panel-body">
                    {{ include('news/_form.html.twig') }}
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        {{ render(controller('MaithCommonAdminBundle:Albums:albumsData', {'id': news.id, 'objectclass' : news.fullClassName }))}}
        <hr/>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('news_index') }}" class="btn btn-success" style="float: left; margin: 0!important;">
                <i class="fa fa-arrow-left"></i>Volver al listado
            </a>
            <div class="pull-right">
                {{ include('news/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}