{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block title %}Inscripcion {{ sub_inscription.name }}{% endblock %}

{% block body %}
    <section class="panel panel-color">
        <header class="panel-heading text-uppercase"><i class="fa fa-lg fa-cogs"></i>Inscripción: {{ sub_inscription.name }}</header>
        <div class="panel-body">
            <div class="table-responsive no-border">
                <table class="table table-bordered table-striped mg-t datatable dataTable">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ sub_inscription.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ sub_inscription.name }}</td>
                    </tr>
                    <tr>
                        <th>Cedula</th>
                        <td>{{ sub_inscription.identity }}</td>
                    </tr>
                    <tr>
                        <th>Dirección</th>
                        <td>{{ sub_inscription.address }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ sub_inscription.email }}</td>
                    </tr>
                    <tr>
                        <th>Nivel</th>
                        <td>{{ sub_inscription.levelAsString }}</td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>{{ sub_inscription.startdate ? sub_inscription.startdate|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Secciones</th>
                        <td>
                            <ul>
                                {% for section in sub_inscription.sections %}
                                    <li>{{ section.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Aprobado</th>
                        <td>
                            {{ sub_inscription.approved ? 'Si' : 'No' }}
                            {{ include('sub_inscription/_approved_form.html.twig') }}
                        </td>
                    </tr>
                    <tr>
                        <th>Pago</th>
                        <td><a href="{{ path('sub_inscription_download', {'id': sub_inscription.id}) }}"
                               class="btn btn-info">Descargar</a>
                            {{ sub_inscription.payment }}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('sub_inscription_index') }}" class="btn btn-default">Volver al listado</a>
                {{ include('sub_inscription/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
